<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1>Home Page!!!</h1>
        <!--p>{{content}}</p>
        <p>{{other}}</p>
        {% for x in range(0,10)%}
            {% if x % 2 == 1%}
                <p>Hello</p>
                <p>{{x}}</p>
            {% endif %}
        {% endfor %}-->

        <p>Tortugas Ninjas!!!</p>
        {% for x in content%}
            <p>{{x}}</p>
            <!-->
            {% if x == "Mike" %}
            {% elif %}
            {% else %}
            {% endif %}
            -->
        {% endfor %}
    </body>
</html>